<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted" *ngIf="user.username != 'null' ">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">

        <!-- Right -->
        <div>
            <a class="me-4 text-reset">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a class="me-4 text-reset">
                <i class="fab fa-twitter"></i>
            </a>
            <a class="me-4 text-reset">
                <i class="fab fa-google"></i>
            </a>
            <a class="me-4 text-reset">
                <i class="fab fa-instagram"></i>
            </a>
            <a class="me-4 text-reset">
                <i class="fab fa-linkedin"></i>
            </a>
            <a class="me-4 text-reset">
                <i class="fab fa-github"></i>
            </a>
        </div>
        <!-- Right -->
    </section>
    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <section class="">
        <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <!-- Content -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        <i class="fas fa-gem me-3"></i>informacion del sitio
                    </h6>
                    <p>
                        Esta pagina WEB se construye como trabajo final de la clase Informatica I Especializacion de Ingenieria de Software, en la que se aplica comunicacion REST y arquitectura por capas.
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        recursos
                    </h6>
                    <p>
                        <a href="https://angular.io/" target="_blank" class="text-reset">Angular</a>
                    </p>
                    <p>
                        <a href="https://getbootstrap.com/" target="_blank" class="text-reset">Bootstrap</a>
                    </p>
                    <p>
                        <a href="https://fontawesome.com/" target="_blank" class="text-reset">Font Awesome</a>
                    </p>
                    <p>
                        <a href="https://spring.io/projects/spring-boot" class="text-reset">Spring Boot</a>
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        miembros
                    </h6>
                    <p>Sebastian Calderon</p>
                    <p>Diego Melo</p>
                    <p>Miguel Sarmiento</p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Contactos
                    </h6>
                    <p><i class="fas fa-home me-3"></i> Colombia, Bogota</p>
                    <p>
                        <i class="fas fa-envelope me-3"></i> sbas23@gmail.com
                    </p>
                    <p><i class="fas fa-phone me-3"></i> +57 3124327738</p>
                    <p><i class="fas fa-print me-3"></i> +57 3124327738</p>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->