<div class="reports border-0 card-shadow p-3 mb-3">
    <!-- box title -->
    <div class="box-title-card d-flex flex-row align-items-center position-relative mb-0">
        <span class="badge badge-title-card position-absolute">
      
    </span>
        <img src="../assets/img/reports.png" width="100" height="100" class="img-fluid" alt="logo reports">
        <h2 class="title-desc-card semi-bold tx-color-secondary">{{ titulo }}</h2>
    </div>
    <!-- box title -->
</div>

<div class="col-md-12">
    <div class="col-md-10 p-1" align="right">
        <a class="pointer" (click)="open(content)">
            <i class="far fa-save fa-2x"></i>
        </a>
    </div>
</div>

<div class="container">
    <table class="table table-bordered">
        <thead class="bg-primary text-white text-center">
            <tr>
                <th *ngFor="let item of singleReportColumns" scope="col">
                    {{ item }}
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of cuentasList">

                <td class="align-middle text-center name">{{item.id}}</td>
                <td class="align-middle text-center name">{{item.descripcion}}</td>
                <td class="align-middle text-center name">{{user.nombre}}</td>
                <td class="align-middle text-center name">{{item.usuarioId}}</td>
                <td class="align-middle text-center name text-danger" *ngIf="item.totalIngresos <= item.totalGastos">{{item.totalIngresos | currency }}</td>
                <td class="align-middle text-center name" *ngIf="item.totalIngresos > item.totalGastos">{{item.totalIngresos | currency }}</td>
                <td class="align-middle text-center name">{{item.totalGastos | currency }}</td>

            </tr>
        </tbody>
    </table>
</div>

<div class="container alert {{ eventColor }}" role="alert" *ngIf="isEvent">
    {{ eventMessage }}
</div>


<!-- Modal -->
<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Nueva cuenta</h4>
    </div>
    <div class="modal-body">

        <form autocomplete="off" [formGroup]="formModal" (submit)="guardarCuenta()">

            <div class="form-group row">
                <label class="col-3 col-form-label">Usuario ID:</label>
                <label class="col-7 col-form-label">{{ user.id }} </label>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label">Propietario:</label>
                <label class="col-7 col-form-label">{{ user.nombre }} </label>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label">Descripcion: </label>
                <div class="col-7 p-2">
                    <input class="form-control" type="text" placeholder="Descripcion Cuenta" formControlName="descripcion">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label">Saldo Inicial:</label>
                <div class="col-7 p-2">
                    <input class="form-control" type="number" formControlName="saldo">
                </div>
            </div>

        </form>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="c('Save click')">Cerrar</button>
        <button type="submit" class="btn btn-primary" (click)="guardarCuenta()">Guardar</button>
    </div>
</ng-template>