<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary" *ngIf="user.username != 'null' " style="background-color: #3A3B40 !important;">
    <a class="navbar-brand " style="margin-left: 20px;">  {{app_name}}</a>

    <div class="collapse navbar-collapse col-9" id="mainNavbar">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item" *ngIf="isLogged">
                <a class="nav-link" routerLink="/cuentas">Cuentas</a>
            </li>
            <li class="nav-item" *ngIf="isLogged">
                <a class="nav-link" routerLink="/transacciones">Transacciones</a>
            </li>
            <li class="nav-item" *ngIf="isLogged">
                <a class="nav-link" routerLink="/categorias">Categorias</a>
            </li>
            <li class="nav-item" *ngIf="isLogged">
                <a class="nav-link" routerLink="/graficas">Graficas</a>
            </li>
            <li class="nav-item" *ngIf="isLogged">
                <a href="#" class="nav-link" (click)="logout()">Salir</a>
            </li>
        </ul>

    </div>
    <div class="text-right text-white col-3"> Bienvenido: {{user.nombre}} </div>
</nav>