<div class="wrapper">
    <div class="container m-5">
        <app-navbar></app-navbar>
    </div>

    <div class="content-wrapper" style="height: 650px; overflow: scroll;">
        <div class="content-services internal-page content container-fluid py-3">
            <router-outlet></router-outlet>
        </div>
    </div>

    <app-footer></app-footer>

</div>