<div class="reports border-0 card-shadow p-3 mb-3">
    <!-- box title -->
    <div class="box-title-card d-flex flex-row align-items-center position-relative mb-0">
        <span class="badge badge-title-card position-absolute">
      
    </span>
        <img src="../assets/img/graficas.jpg" width="100" height="100" class="img-fluid" alt="logo reports">
        <h2 class="title-desc-card semi-bold tx-color-secondary">{{ titulo }}</h2>
    </div>
    <!-- box title -->
</div>

<div class="container">

    <div class="row">
        <div class="col-md-6">
            <label class="col-form-label text-center">Tipo Transaccion</label>
            <div style="display: block">
                <canvas baseChart [data]="doughnutChartData" [labels]="doughnutChartLabels" [chartType]="doughnutChartType"></canvas>
            </div>
        </div>
        <div class="col-md-6">
            <label class="col-form-label text-center">Categoria</label>
            <div style="display: block">
                <canvas baseChart [data]="doughnutChartData2" [labels]="doughnutChartLabels2" [chartType]="doughnutChartType2"></canvas>
            </div>
        </div>
    </div>

</div>

<div class="container alert {{ eventColor }}" role="alert" *ngIf="isEvent">
    {{ eventMessage }}
</div>