<section id="login" class="mb-5 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 mx-auto">
                <div class="card_login">
                    <div class="card">
                        <div class="card-body text-center">
                            <form #formLogin="ngForm" (ngSubmit)="onLogin(formLogin)">
                                <h1 class="h3 mb-3 font-weight-normal" *ngIf="!isError">Iniciar Sesion</h1>
                                <div class="alert alert-danger" role="alert" *ngIf="isError">
                                    ¡Datos incorrectos!
                                </div>
                                <div class="form-group p-2">
                                    <input type="usuario" id="usuario" name="usuario" class="form-control" placeholder="Usuario" [(ngModel)]="user.username" required>
                                </div>
                                <div class="form-group p-2">
                                    <input type="password" id="password" name="password" class="form-control" placeholder="Clave" [(ngModel)]="user.clave" required>
                                </div>
                                <br>
                                <button type="submit" class="btn btn-lg btn-primary btn-block">Aceptar</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>